@font-face {
    font-family: 'Gotham'; 
    src: url('../fonts/gotham.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing:border-box;

    margin: 0px;
}

a {
    text-decoration: none;
}

.main {
    width: 100%;
    height: 100%;
    /* height: 100vh;
    margin: 0;
    width:100%; */
    background-color: #000000;
}

/* Если нет страницы - это */

@media all and (min-width: 510px) {
    .main > div > p {
        font-family: 'Gotham';
        font-style: normal;
        font-weight: 300;
        font-size: 68px;
        line-height: 65px;
        text-align: center;

        margin: 0px;
        padding-top: 300px;
    }

    .main > div {
        position: relative;

        top:0px;
        padding:0px;
        margin:0px;
        width: 100%;
        height: 720px;
        background-color: #00942a;
    }
}
@media not all and (min-width: 510px) {
    .main > div > p {
        font-family: 'Gotham';
        font-style: normal;
        font-weight: 300;
        font-size: 15vw;
        line-height: 65px;
        text-align: center;

        margin: 0px;
        padding-top: 200px;
    }

    .main > div {
        position: relative;

        top:0px;
        padding:0px;
        margin:0px;
        width: 100%;
        height: 720px;
        background-color: #00942a;
    }
}