.main > .page3 {


    height: 500px;
    margin-top: 0px;

    background-color: #000000; 
}

.main > .page3 > h1 {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 100;
    font-size: 36px;

    padding-top: 20px;
    margin-bottom: 0px;
    margin-top: 0px;

    text-align: center;
    width: 100%;

    color: #00EB42;
}
.main > .page3 > .amline {
    width: 125px;   
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: #00EB42;
}


.main > .page3 > a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    overflow: hidden;
    text-decoration: none;
    outline: none;
    transition: .2s ease-in-out;
   
    padding: 10px 30px;
    width: 180px;
    
    border: 2px solid #00EB42;
    border-radius: 8px;
    box-sizing: border-box;
    border-radius: 10px;

    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    color: #ffffff;
}

.main > .page3 > a:before {
    content: "";
    background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: 1px;
    left: -75px;
    transform: skewX(-45deg);
}

.main > .page3 > a:hover {
    background: #00EB42;
    color: #fff;
}

.main > .page3 > a:hover:before {
    left: 200px;
    transition: .5s ease-in-out;
}